<div class="selection-container">
    <div class="header">
        <div class="inner-header">
            <h1 class="question">{{question}}</h1>
        </div>
        <div class="progress-bar">
            <div class="progress" [style.width.%]="percentage">
                <!-- <span class="time-counter">{{count}}s</span> -->
            </div>
        </div>
    </div>

    <h2 class="selection-title">Selecciona el Número Correcto</h2>

    <div class="number-grid">
        <button class="number-button" *ngFor="let response of responses" (click)="clickResponse(response)"> {{response.value}} </button>
    </div>

  
    <div class="footer">
        <a class="close-btn" routerLink="/" > <i class="fa-solid fa-right-from-bracket"></i> SALIR</a>
    </div>
 
</div>