.selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
  }

  .header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffff; 
  }
  
  .selection-title {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
  }
  
  .number-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-bottom: 30px;
  }
  
  .number-button {
    font-size: 1.5rem;
    padding: 40px;
    background-color: #252525;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .number-button:hover {
    background-color: #0056b3;
  }
  
  .number-button.selected {
    background-color: #28a745;
  }

  .progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress {
    height: 100%;
    background-color: #c49e07;
    transition: width 1s linear;
  }
  