<div class="selection-container">
    <div class="header">
        <h1>Es el segundo número primo mayor que 10 y menor que 20</h1>
        <div class="progress-bar">
            <div class="progress" [style.width.%]="75"></div>
        </div>
    </div>

    <h2 class="selection-title">Selecciona el Número Correcto</h2>

    <div class="number-grid">
        <button class="number-button"> 11 </button>
        <button class="number-button"> 10 </button>
        <button class="number-button"> 27 </button>
        <button class="number-button"> 13 </button>
        <button class="number-button"> 19 </button>
        <button class="number-button"> 12 </button>
        <button class="number-button"> 20 </button>
        <button class="number-button"> 21 </button>
    </div>

</div>