<div class="container">
    <h1>{{rightAnswers}} / {{questions}}</h1>
    <div class="block">

        <h1 class="title">Respuesta incorrecta</h1>

        <span class="sad-face">
            <i class="fa-solid fa-face-sad-tear "></i>
        </span>

        <h4>
            ¡No pasa nada! Lo importante es que lo intentaste y diste lo mejor de ti. Los errores son una oportunidad
            para aprender y mejorar. ¡Cada vez que juegues estarás un poquito más cerca de lograrlo! Sigue adelante,
            ¡tienes todo lo que necesitas para hacerlo genial!
        </h4>

    </div>

    <div class="block" style="margin-top: 2rem;">
        <div class="button-section">
            <a class="home-btn btn" routerLink="/"> <i class="fa-solid fa-right-from-bracket"></i> Inicio</a>
            <a class="again-btn btn" routerLink="/countdown" > <i class="fa-solid fa-arrow-right-long"></i> Continuar</a>
        </div>
    </div>
</div>