<div class="container">
    <h1>Juego finalizado</h1>
    <div class="row">
        <div class="block">

            <h1 class="title">Respuestas Correctas</h1>
            <h1>
                {{rightAnswers}}
            </h1>
            
        </div>
        <div class="block">

            <h1 class="title">Respuestas Incorrectas</h1>
            <h1>
                {{wrongAnswers}}
            </h1>
            
        </div>
    </div>

    <div class="block" style="margin-top: 2rem;">
        <div class="button-section">
            <a class="home-btn btn" routerLink="/"> <i class="fa-solid fa-right-from-bracket"></i> Inicio</a>
        </div>
    </div>
</div>