<div class="container">
    <h1>{{rightAnswers}} / {{questions}}</h1>
    <div class="block">
        <span class="sad-face">
            <i class="fa-solid fa-clock"></i>
        </span>
        <h1 class="title">Se ha acabado el tiempo</h1>

        <div class="button-section">
            <a class="home-btn btn" routerLink="/"> <i class="fa-solid fa-right-from-bracket"></i> Inicio</a>
            <a class="again-btn btn" routerLink="/countdown" > <i class="fa-solid fa-arrow-right-long"></i> Continuar</a>
        </div>
    </div>
    
    
</div>