<div class="container">
    <div class="content">
        <!-- Game Title -->
        <div class="title-bubble">
            <h1 class="title-text">
                <span class="title-large">¿ESTÁS LISTO </span><br />
                <span class="title-largest">PARA EL DESAFÍO?</span><br />
                <span class="title-small">QUIZ GAME</span>
            </h1>
        </div>

        <!-- Start Game Button -->
        <button class="start-button" routerLink="/countdown"><i class="fa-solid fa-hand-sparkles"></i> Iniciar </button>

        <!-- Instructions Block -->
        <div class="instructions-block">
            <h2 class="instructions-title">Cómo Jugar:</h2>
            <ol class="instructions-list">
                <li>Lee la pregunta cuidadosamente.</li>
                <li>Escoge la respuesta correcta de las opciones dadas.</li>
                <li>Haz click en la respuesta.</li>
                <li>¡Intenta responder todas las preguntas que puedas!</li>
            </ol>
        </div>
    </div>
</div>