/* You can add global styles to this file, and also import other style files */

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #facc15 !important;
}


button{
    border-radius: 20px !important;
}